{erl_opts, [debug_info]}.
{deps, [
  {katana, "0.4.0"},
  {ranch, {git, "https://github.com/ninenines/ranch.git", {tag, "2.0.0"}}},
  % remove once gem_wiki is separated
  {roni, "1.0.1"}
]}.

{profiles, [
  {test, [
    {erl_opts, [export_all]}
  ]}
]}.

{relx, [
  {release, {gem, semver}, [
    gem
  ]}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [gem]}
]}.
